@font-face {
    font-family: Intro-rust;
    src: url(./fonts/introrustg_base2line_macroman/introrustg-base2line-webfont.woff)
}

@font-face {
    font-family: Intro;
    src: url(./fonts/InputMonoCondensed-BlackItalic.ttf)
}


:root {
    --header-color: #09090b;
    --player-fontcolor: antiquewhite;
    --purple-color: #b271ce;
    --sidebar-color: #09090b;
    --sidebar-shadow: 3px 0px 2px rgba(235, 225, 246, 0.8);
    --nav-link-color:rgb(88, 40, 101, 0.8);
    --report-desk-color: #c3c147;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: DejaVu Sans Mono, Source Code Pro;
}

a {
    text-decoration: none;
}

.header p {
    color: var(--player-fontcolor)
}

ul {
    list-style-type: none;
}

hr {
    margin: 10px 10px;

}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--header-color);
    box-shadow: 1px 1px 5px rgba(117, 32, 117, 0.5);
    position: relative;
}

.header-menu1 {
    grid-column: 1 / 3; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 70px;
}

.header-menu1 .header-menu1-rightside {
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 10px 0;
    margin-right: 10px;
    position: relative;
}

.search {
    position: relative;
    display: flex;
    justify-self: start;
    margin-left: 20px;
    padding-bottom: 10px;
}


#search-bar {
    width: 200px;
    background-color: rgb(36, 52, 101);
    border-left: none;
    border-radius: 0 5px 5px 0;
    border: 3px solid var(--header-color);
    color: var(--player-fontcolor);
    padding: 5px;
}

input:focus {
    outline: transparent;
    border:1px solid white;
    box-shadow: 0 0 10px #719ECE;
}

::placeholder {
    color: rgb(225, 224, 208);
    padding: 5px;
    font-size: 0.8rem;
}

button {
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: rgb(216, 223, 241);
}

button svg {
    width: 30px;
    align-self: center;
}

button:hover {
    cursor: pointer;
}

#bell-icon {
    width: 30px;
    display: block;
    justify-self: end;
    float: right;
}

#profile-img {
    display: block;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    object-fit: cover;
    position: relative;
    margin-right: -30px;
    border: 1px solid white;
    box-shadow: 0 0 10px var(--purple-color);
}

#player-name {
    justify-self: start;
    font-size: 1.3rem;
    color: var(--player-fontcolor)
}


.header .header-menu2 {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 120px
}

.level-status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    overflow: hidden;
    padding: 2px 10px;
    margin-left: 20px;
}

#status-img {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 5px;
    background: conic-gradient(
        #ff53bb ,
        #0000 120deg 220deg,
        #00f8d3 280deg 50deg,
        #0000 310deg 100deg,
        #ff53bb 350deg
    );
    border-radius: 5px;
    margin-bottom: 30px;
}

.level-status p:first-of-type {
    align-self: end;
    padding: 5px 0;
    margin-left: 10px;
}

.level-status p + p {
    margin-left: 10px;
    font-size: 1.3rem;
}

#status-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
}

.nav-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-right: 10px;
    place-items: center;
    background-color: rgba(32, 53, 108, 0.766);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid rgb(200, 198, 69);
}

.nav-link a {
    font-size: 1.4rem;
    color: var(--player-fontcolor);
    text-shadow: 2px 2px 5px var(--purple-color);
    grid-column: 1 / 4;
    position: relative;
    font-size: 1.5rem;
    background-color: var(--nav-link-color);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(200, 198, 69);
    box-shadow: 1px 1px 1px rgb(163, 161, 57);
}

.nav-link #quests::before {
    display: inline-block;
    content: " ";
    background-image: url(./icons/star_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    margin-bottom: 5px;
    -webkit-filter: brightness(3);
}


.nav-link #new::before {
    display: inline-block;
    content: " ";
    background-image: url(./icons/auto-mode-custom.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.nav-link #rank::before {
    display: inline-block;
    content: " ";
    background-image: url(./icons/shield-star-outline-custom.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.sidebar {
    background-image: url(./imgs/efe-kurnaz-RnCPiXixooY-unsplash.jpg);
    background-size: cover;
    background-position: 50%;
    grid-column: 1;
    grid-row: 1 /3;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    font-family: Intro;
    font-size: 2rem;
    text-shadow: var(--sidebar-shadow);
}

.sidebar a {
    color: var(--sidebar-color) !important;
}

.sidebar .logo {
    place-self: center;
    font-family: Intro-rust, Roboto, sans-serif;
    font-size: 3.5rem;
}

.sidebar-menu1 {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.sidebar-menu2 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 15px;
}

.main {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--header-color);
    line-height: 1.5rem;
    padding-top: 15px;
}

.main-column-left {
    background-image: url(./imgs/justin-wei-nxpWWUh6l-M-unsplash.jpg);
    background-size: cover;;
    background-color: var(--header-color);
}

.main-column-left h2{
    color: var(--player-fontcolor);
    margin-left: 10px;
}

.main-column-left > h2:first-of-type{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid yellow;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--report-desk-color);
    color: var(--sidebar-color)
}

.main-column-left .column-cards {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    margin: 20px;
    padding: 10px;
}

.cards {
    border: 2px solid white;
    border-radius: 10px;
    height: 200px;
    overflow: auto;
    box-shadow: 1px 1px 1px rgb(173, 173, 168);
    border-left: 2px solid var(--report-desk-color);
}

.cards:hover {
    border: 2px solid rgb(211, 24, 24);
    box-shadow: 1px 1px 1px rgb(173, 173, 168);
    border-left: 2px solid var(--report-desk-color);
}

.cards h2 {
    margin-top: 5px;
}

.cards p {
    padding: 10px;
    color: white;
    text-shadow: rgb(36, 35, 35) 1px 0 10px;
}

#card1 {
    background-image: url(./imgs/oleg-onchky-JSGCnS31rWc-unsplash.jpg);
    background-size: cover;
}

#card2 {
    background-image: url(./imgs/adam-neumann-vzEeVwUgTmI-unsplash.jpg);
    background-size: cover;
}

#card3 {
    background-image: url(./imgs/henrique-oli-UYKN_Sky6Cg-unsplash.jpg);
    background-size: cover;
}


#card4 {
    background-image: url(./imgs/florian-olivo-im9tkLTBfsU-unsplash.jpg);
    background-size: cover;
}

#card5 {
    background-image: url(./imgs/aleksandr-popov-3InMDrsuYrk-unsplash.jpg);
    background-size: cover;
}

#card6 {
    background-image: url(./imgs/cheng-feng-gR3oLVM0aqM-unsplash.jpg);
    background-size: cover;
    background-position: 20%;
} 


.main-column-right {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-image: url(./imgs/cheng-feng-l5iWkE8hWuA-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    margin: 20px;
}

.main-column-right h2 {
    color: var(--player-fontcolor);
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 0px 1px rgb(222, 123, 186);
}

#updates {
    grid-column: 2;
    display: grid;
    grid-template-rows: 0.5fr 2.5fr;
    padding: 10px;
    margin: 5px;
    width: 250px;
    overflow: scroll;
}

.updates-block {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(226, 213, 232);
    opacity: 0.9;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    height: 290px;
    overflow: scroll;
    padding: 15px;
    font-size: 0.9rem;
}

#top-players {
    grid-column: 2;
    display: grid;
    grid-template-rows: 0.5fr 2.5fr;
    padding: 10px;
    margin: 5px;
    width: 250px;
}

.top-players-block {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(226, 213, 232);
    opacity: 0.9;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    place-items: start;
    padding-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
}

#points p:first-of-type {
    margin-bottom: -5px;
    font-weight: bold;
}

#one {
    display: grid;
    grid-column: 1fr 1fr;
    margin-left: 30px;
}

#one > img{
   grid-column: 1;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   place-self: center;
}

#one #points {
    grid-column: 2;
    align-self: center;
    margin-left: 10px;
}

#two {
    display: grid;
    grid-column: 1fr 1fr;
    margin-left: 30px;
}

#two > img{
   grid-column: 1;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   place-self: center;
}

#two #points {
    grid-column: 2;
    align-self: center;
    margin-left: 10px;
}

#three {
    display: grid;
    grid-column: 1fr 1fr;
    margin-left: 30px;
}

#three > img{
   grid-column: 1;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   place-self: center;
}

#three #points {
    grid-column: 2;
    align-self: center;
    margin-left: 10px;
}

#four {
    display: grid;
    grid-column: 1fr 1fr;
    margin-left: 30px;
}

#four > img{
   grid-column: 1;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   place-self: center;
}

#four #points {
    grid-column: 2;
    align-self: center;
    margin-left: 10px;
}

